.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    min-height: 300px;
    max-height: 600px;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
    flex-wrap: wrap !important;
}

.p-dropdown .p-dropdown-label.p-placeholder {
    height: 3rem !important;
}

.p-divider.p-divider-vertical:before {
    border-left: 1px #dee2e6 solid !important;
}

.p-card-title {
    font-size: 1.3rem !important;
    color: var(--surface-900);
}

.p-card {
    border-radius: 12px !important;
}

.p-inplace .p-inplace-display {
    padding: 0;
    border-radius: 0;
    transition: none;
}

.p-panel .p-panel-content {
    padding: 0;
    border: none;
    border-radius: 0;
}

.p-card .p-card-content {
    padding-bottom: 0;
}

.p-panel .p-panel-header {
    border-left: none;
    border-right: none;
    border-top: none;
}

.p-skeleton-circle {
    border-radius: 50% !important;
}
