@import url('./themes/light.css');
@import url('primeflex/primeflex.min.css');
@import url('primeicons/primeicons.css');
@import url('./custom/ckeditor.css');
@import url('./layout/menu.css');
@import url('./custom/prime.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    /* font-family: var(--font-family); */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family:"Poppins",sans-serif ;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: initial;
    display: block;
}

.p-divider-solid.p-divider-horizontal:before {
    border-top-style: solid;
}

.p-overlaypanel-content {
    padding: 0 !important;
}

.p-datepicker-calendar tbody tr td span {
    text-align: center;
    margin: 0 auto;
}

  .highlighted-row td {
    background-color: rgb(221, 226, 226);

    transition: transform 0.2s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
    overflow: hidden;
  }
  
  .highlighted-row {
    z-index: 1; /* Ensure the highlighted row is on top */
    overflow: hidden;

  }

  .p-card {
    border-radius: 10px;
    margin-bottom: 1rem;
}

.p-avatar {
    border-radius: 50%;
    margin-right: 1rem;
}

.p-button-rounded {
    margin-left: 0.5rem;
}

.grid {
  display: flex;
}

.sidebar {
  width: 30%;
  padding: 1rem;
}

.notifications-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

/* .notification-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.notification-content {
  display: flex;
  max-height: 10px;
  align-items: center;

}
.notification-dialogue {
font-family: Arial, Helvetica, sans-serif;
  margin: 0 !important;  /* Loại bỏ khoảng cách margin */
  padding: 0 !important; /* Loại bỏ khoảng cách padding */

}
.notification-text {
  flex-grow: 1;
  padding-left: 1rem;
  max-width: 200px;
}

.notification-time {
  margin-left: 1rem;
  color: #888;
}

.menu-container { /* New container style */
  
   /* thêm vào nếu muốn chung 1 hàng*/  
display: flex; 
  align-items: center;
  width: 150px;
  padding-left: 40px;
  margin-left: 220px;
}


/* styles.css or your global styles file */
.menu-item {
  font-weight: normal; /* Default weight */
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
   transition: font-weight 0.2s ease; 


}
.menu-not{
  font-weight: normal  !important;
}

.menu-item:hover {
  font-weight: bold; /* Bold on hover */

}

/* Specific Padding Classes */
.p-mb-3 {
  margin-bottom: 3rem;
}

.p-text-center {
  text-align: center;
}

.p-text-right {
  text-align: right;
}

.p-text-muted {
  color: #888;
}

.p-align-center {
  align-items: center;
}
.list-none {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .list-none li {
    padding: 0.25rem 0;
  }
  
  .p-shadow-24 {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.24);
  }


  
  .custom-header {
    z-index: 1000;
    background-color: #fafafa;
    padding: 0.3rem 1rem;
    position: relative;
  }
  
  .header-end {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .notification-button {
    position: relative;
  }
  
  .notification-badge {
    position: absolute;
    top: -10px;
    right: -10px;
  }
  
  .p-menubar {
    border: 2px solid #b9c5d3; /* Change the color to your desired color */
    border-radius: 5px; /* Optional: add some rounding to the corners */
  }
  
  .p-menuitem-link {
    font-weight: bold;
  }
  
  .p-submenu-list {
    display: none;
    
  }
  
  .p-submenu-list > .p-menuitem {
    padding: 0.5rem 1rem;
    white-space: nowrap;        /* Prevent text from wrapping to the next line */
  /* Add ellipsis when text overflows */
  }
  
  .p-menuitem .p-menuitem-link {
    display: block;            /* Ensure the link is a block element */
    max-width: 150px;         /* Set a maximum width for the menu item */
        /* Prevent wrapping */
  }
  
  /* Optional: Style for hover to improve user experience */
  .p-menuitem:hover {
    background-color: #f0f0f0; /* Slight change on hover */
   

  }
  
  .menu-item {
    position: relative;
    padding: 0.5rem 1rem;

  }
  
  .menu-item:hover {
    background-color: #f0f0f0;
  }
  
  .p-badge {
    margin-left: -10px;
    margin-top: -5px;
  }
  .p-fieldset-toggleable .p-fieldset-toggler {
    display: none; /* Hides the toggle icon */
}
  @font-face {
    font-family: 'Poppins';
    src: format('truetype'); /* Adjust path if needed */
  }